<div class="padded"></div>

<div class="container">
    <div class="row" style="padding: 5%;">
        <div class="sign-form">
            <div class="col-md-6 col-xs-12 sign-col-left" style="height: 721px;background-image:url('<%= asset_path("banner.jpg") %>')">
            </div>
            <div class="col-md-6 col-xs-12 sign-col-right">
                <h2>Créez votre compte</br> sur SoGuide</h2>
                <div class="padded"></div>
                <div class="centered" style="text-align: center;">
                    <p class="btn btn-default" style="background: #4367b1;font-weight: 300;border: #4367b1;font-size:16px;color:white;">
                        <%- if devise_mapping.omniauthable? %>
                            <%- resource_class.omniauth_providers.each do |provider| %>
                                <%= link_to "Se connecter avec #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
                                    <br />
                                    <% end -%>
                                        <% end -%>
                    </p>
                    <div class="padded"></div>
                </div>
                <div class="form-padded">
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <div class="form-inputs">
                        <div class="ligned-by-2">
                            <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: "Prénom*" %>
                                <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: "Nom*" %>
                        </div>
                        <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Adresse mail*" %>
                            <%= f.input :password, required: true, label: false, placeholder: "Mot de passe* (6 caractères minimum)" %>
                                <%= f.input :password_confirmation, required: true, label: false, placeholder: "Confirmez votre mot de passe" %>
                                <div class="ligned-by-2">
                                    <%= f.input :year_of_birth, required: true, autofocus: true, label: false, placeholder: "Date de naissance" %>
                                        <%= f.input :postal, required: true, autofocus: true, label: false, placeholder: "Code postal" %>
                                </div>
                                            <%= f.input :photo %>
                                                <%= f.input :photo_cache, as: :hidden %>
                    </div>

                    <div class="padded" style="padding: 2%;"></div>
                    <div class="bottom-links" style="margin-bottom: 20px;">
                        <p style="font-size: 15px;font-weight: 300;color: grey;">Pour déposer un commentaire ou contacter un guide, il est necessaire d'être connecté.</p>
                        <div class="btn-bottom" style="text-align: center;">
                                        <p>
                                            <%= f.button :submit, "Log in", class:"btn btn-second", id:"removed" %>
                                        </p>

                                <% end %>

                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<div class="padded" style="padding: 1.1%;"></div>
<% content_for(:after_js) do %>
    <%= javascript_tag do %>
$(document).ready(function() {
$( "body" ).addClass( "black" );
});
        <% end %>
            <% end %>
