<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Carousel items -->

    <div class="carousel-inner" style="background-image:url('<%= asset_path("mid-banner-2.jpg") %>')">

        <div class="active item">
          <div class="carousel-body">
            <span>Ils aiment nos guides</span>
            <% unless @reviews == [] %>
             <p><%= @reviews.first.content %></p>
             <p  style="font-size: 14px;"><span style="font-weight: bold; font-size: 14px;"><%= @reviews.first.user.first_name %> <%= @reviews.first.user.last_name %></span>, <%= @reviews.first.guide.pays %> - <%= @reviews.first.created_at.strftime("%B %Y") %> </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-body">
            <span>Ils aiment nos guides</span>
             <p><%= @reviews.second.content %></p>
             <p  style="font-size: 14px;"><span style="font-weight: bold; font-size: 14px;"><%= @reviews.second.user.first_name %> <%= @reviews.second.user.last_name %></span>, <%= @reviews.second.guide.pays %> - <%= @reviews.second.created_at.strftime("%B %Y") %> </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-body">
            <span>Ils aiment nos guides</span>
             <p><%= @reviews.third.content %></p>
             <p  style="font-size: 14px;"><span style="font-weight: bold; font-size: 14px;"><%= @reviews.third.user.first_name %> <%= @reviews.third.user.last_name %></span>, <%= @reviews.third.guide.pays %> - <%= @reviews.third.created_at.strftime("%B %Y") %> </p>
          </div>
        </div>
        <% end %>
    </div>
    <!-- Carousel nav -->
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
$(document).ready(function() {
$('.carousel').carousel();
});

  <% end %>
<% end %>
