<div class="padded"></div>
<div class="padded"></div>
<div class="padded"></div>
<div class="container">
    <div class="row" style="padding: 5%;">
        <div class="sign-form">
            <div class="col-md-6 col-xs-12 sign-col-left" style="background-image:url('<%= asset_path("banner.jpg") %>')">
            </div>
            <div class="col-md-6 col-xs-12 sign-col-right">
                <h2>Connectez vous sur votre espace SoGuide</h2>
                <div class="padded"></div>
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-inputs">
                        <%= f.label "Mail d'identifiant", class:"label-sign" %>
                            <%= f.input :email, required: false, autofocus: true, label: false %>
                                <%= f.label "Mot de passe", class:"label-sign"  %>
                                    <%= f.input :password, required: false, label: false %>
                    </div>
                    <div class="form-actions">
                        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                            <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %>
                                <br />
                                <% end -%>
                    </div>
                    <div class="padded" style="padding: 2%;"></div>
                    <div class="bottom-links" style="margin-bottom: 20px;">
                    <p style="font-size: 15px;font-weight: 300;color: grey;">Pour déposer un commentaire ou contacter un guide, il est necessaire d'être connecté.</p>
                    <div class="btn-bottom">
                    <%= f.button :submit, "Log in" %>
                        <% end %>
                            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                                <p class="btn btn-default" style="background: #034e00;font-weight: 300;border: #034e00;font-size:16px;"><%= link_to "Se créer un compte", new_registration_path(resource_name)%></p>
                                <p class="btn btn-default" style="background: #4367b1;font-weight: 300;border: #4367b1;font-size:16px;"><%- if devise_mapping.omniauthable? %>
                                      <%- resource_class.omniauth_providers.each do |provider| %>
                                        <%= link_to "Se connecter avec #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
                                      <% end -%>
                                    <% end -%></p>
                                    <% end -%>
                  </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="padded" style="padding: 1.1%;"></div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
$(document).ready(function() {
$( "body" ).addClass( "black" );
});

  <% end %>
<% end %>
