<div class="padded-little"></div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
    <div class="menu-index">
    <p class="menu-index-up">Choisissez votre destination et découvrez nos guides !</p>
    <p class="menu-index-up-sub">Nous proposons actuellement une centaine de guides dans 16 pays différents!</p>
    </div>
<div class="padded"></div>
    <% @results.order("name").each do | country | %>
    <div class="col-md-6 card-wrapper">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path country.photo, height: 300, width: 400, crop: :fill %>')">
      <div class="card-category">
      <% @guides = Guide.where(pays: country.name) %>
      <span></span>
      </div>
      <div class="card-description">

      </div>
      <%= link_to "", country_path(country), class:"card-link" %>
    </div>
    <p class="index-card-title"><%= country.name %></p>
    <p class="test-css"><%= country.description %></p></br>
    <p class="card-guide-bottom"><%= @guides.length %> guides disponibles à destination </p>
    </div>
    <% end %>
    </div>
    <div class="col-md-3">

<div id="fixed" style="position:fixed; top:0">
  <div id="map_canvas" style="width:30%; height:100%">
        <div id="map" style="width: 100%; height: 800px;position: fixed;"></div>
  </div>
</div>





    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');

      handler.buildMap({ provider: { scrollwheel: false }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();

        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(4);
        }


      });

    });
  <% end %>
<% end %>
