<% @countries.each do |country| %>
    <div class="banner" style="height:40vh;background-position:0% 500%;background-image:url('<%= asset_path("banner-road.jpg") %>')">
    <% end %>
  <div class="banner-content">
  </div>
</div>






<div class="container">
  <div class="row">
<h2 class="title-country" style="border-bottom: 1px solid rgba(0, 0, 0, 0.2);"><%= @guide.user.first_name %> <%= @guide.user.last_name %> </h2>
<p> <%= @reviews.length %> avis sur ce guide </p>
<p> <%= @trips.length %> trips effectués avec Soguide </p>
    <div class="col-md-3 text-center" style="padding: 2%;">
      <% avatar_url = @guide.user.photo %>
      <%= image_tag avatar_url, class: "img-full-profil"%>
    </div>
    <div class="col-md-9" style="border-left: 1px solid rgba(0, 0, 0, 0.12);">
    <div class="part-up" style="display: flex;justify-content: space-between;align-items: center;">
      <div class="first-part-guide">
      <p class="description-country"><span class="green weighted">Régions :</span> <%= @guide.regions %></p>
      <p class="description-country"><span class="green weighted">Expérience :</span> <%= @guide.experience %> annnées</p>
      <p class="description-country"><span class="green weighted">Statut :</span> <%= @guide.guide_type %></p>
      <p class="description-country"><span class="green weighted">Langues :</span> <%= @guide.language %></p>
      <p class="description-country"><span class="green weighted">License :</span> <%= @guide.license %></p>
      <p class="description-country"><span class="green weighted">Structure :</span> <%= @guide.structure %></p>
      </div>
      <div class="second-part-guide">
            <%= link_to "Contacter #{@guide.user.first_name} #{@guide.user.last_name}! ", check_path(@guide), class:"btn-default green"%>
      </div>
      </div>
        <div class="part-down">
      <h3 class="sub-title">Vous voulez en savoir plus sur moi ? - Voici ma description</h3>
      <p class="description-country"> <%= @guide.soguide_description %></p>
      </div>



      <h3 class="sub-title">Ce que pense nos voyageurs sur les voyages avec <%= @guide.user.first_name %> <%= @guide.user.last_name %></h3>
    </div>



    <% @reviews.each do |review| %>

    <% if review.checked == "true" %>
    <div class="col-md-12">
        <div class="message">
      <% avatar_url = review.user.facebook_picture_url || review.user.photo %>
      <%= image_tag avatar_url, class: "avatar-small"%>
        <div class="message-name">
          <h3> <%= review.user.first_name %> </h3>
          <p> <%= review.created_at.strftime("%m/%d/%y") %> </p>
        </div>
        <div class="message-body">
          <p><strong> <%= review.user.first_name %> à visiter l'<%= @guide.pays %> avec <%= review.guide.user.first_name %> <%= review.guide.user.last_name %></strong></p>
          <p>
            <%= review.content %>
          </p>
        </div>
        <div class="message-status">
          <p class="status pending">Pending</p>
          <p class="price">xxx</p>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>

<%= simple_form_for [@guide, @review] do |f| %>
<%= f.label "Pour donner son avis sur ce guide ? C'est ici !", class:"sub-title" %>
<p>Les recommandations ne seront publiées qu'après validation par l'équipe SoGuide.</p>
  <%= f.input :content, label: false %>
  <%= f.submit "add a review", class: "btn-default" %>
<% end %>



    <div class="row">
    <div class="col-md-12">
      <h3 class="sub-title">Autres guides en <%= @guide.pays %></h3>
    </div>
    <div class="col-md-6">

      <% @guides.each do |guide| %>
      <div class="col-md-6 card-wrapper">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path guide.user.photo, height: 300, width: 400, crop: :fill %>')">
        <div class="card-category">
        <span></span>
        </div>
        <div class="card-description">
        <%= guide.guide_type %>
        </div>
        <%= link_to "", guide_path(guide), class:"card-link" %>
      </div>
      <p class="index-card-title"><%= guide.user.first_name %> <%= guide.user.last_name %></p>
      <p class="test-css"></p>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
