<div class="padded-little"></div>






<div class="container">
  <div class="row">
<h2 class="title-country">Voici la page de profil <%= @guide.user.first_name %> <%= @guide.user.last_name %> !</h2>
<%  @countries.each do |country| %>
    <div class="col-md-6">

      <h3 class="sub-title">À propos de <%= @guide.user.first_name %> <%= @guide.user.last_name %> <%=  %> </h3>
      <p class="description-country">Régions : <%= @guide.regions %></p>
      <p class="description-country">Année d'expérence : <%= @guide.experience %> annnées</p>
      <p class="description-country">C'est un : <%= @guide.guide_type %></p>
      <p class="description-country">Il parle : <%= @guide.language %></p>
      <h3 class="sub-title">Vous voulez en savoir plus sur moi ? - Voici ma description</h3>
      <p class="description-country"> <%= @guide.soguide_description %></p>
      <h3 class="sub-title">Notre selection des meilleures guides pour visiter l'<%= country.name %></h3>
    </div>
    <% end %>
    <div class="col-md-6">
      <% avatar_url = @guide.user.photo %>
      <%= image_tag avatar_url, class: "img-full-profil"%>
    </div>
    <% @reviews.each do |review| %>
    <div class="col-md-12">
        <div class="message">
      <% avatar_url = review.user.photo %>
      <%= image_tag avatar_url, class: "avatar-large"%>
        <div class="message-name">
          <h3> <%= review.user.first_name %> </h3>
          <p> <%= review.created_at %> </p>
        </div>
        <div class="message-body">
          <p><strong>I am not sure yet</strong></p>
          <p>
            <%= review.content %>
          </p>
        </div>
        <div class="message-status">
          <p class="status pending">Pending</p>
          <p class="price">xxx</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
